# SteamAchievementCaretaker
# Copyright (c) 2026 Yaroslav V Tatarenko
#
# This project is based on Steam Achievement Manager (SAM)
# Copyright (c) 2008-2024 Rick (rick 'at' gibbed 'dot' us)
# https://github.com/gibbed/SteamAchievementManager
#
# An altered source version of that software, plainly marked as such and
# distributed under the zlib license; see LICENSE.txt in the repository root.

[Desktop Entry]
Type=Application
Version=1.0
Name=Steam Achievement Caretaker
GenericName=Steam achievement manager
Comment=Manage achievements and statistics for games in your Steam library
Exec=steam-achievement-caretaker
Icon=steam-achievement-caretaker
Terminal=false
Categories=Game;
Keywords=Steam;achievement;achievements;statistics;
StartupNotify=true
StartupWMClass=SteamAchievementCaretaker
